.submit{
    color:$white;
    font-family: $raleway;
    font-size: $small;
    background-color: $ballblue;
    font-weight: $bold;
    margin: 0;
}


.cards__button{
    width:100%;
    color:$white;
    font-family: $raleway;
    font-size: $small;
    font-weight: $bold;
    background-color:$ballblue;
    border:none;
    }


