h1{

font-family: $raleway;
font-weight: $bold;
font-size: $xxxxx-large;
text-align: left;
}

h2{

font-family: $raleway;
font-weight: $bold;
font-size: $xxxx-large;
text-align: center;
}

h3{

font-family: $raleway;
font-weight: $bold;
font-size: $xxxx-large;   
}

p{
font-family: $raleway;
font-weight: $regular;
font-size: $large;
}

