//Colores

//Escalas de blancos
$white:#FFF;
$platinum:#E8E8E8;
$gray:#BABABA;

//Escala de rojos
$darksalmon:#EE9480;
$melon: #F4BAAE;
$palepink:#FADFDA;

//Escala de azules
$ballblue:#2AB7CA;
$middleblue:#77D1DD;
$bluelagoon:#B1E4EB;

//Escala de grises
$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC; 

//Escala de negros

$raisingblack: #221D23;
$nickel: #726F73;
$silverchalice: #AEACAF;

//Tipografia

$raleway:'Raleway',sans-serif;
$open-sans:'Open Sans', sans-serif;

//Font sizes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large-medium:25px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Font Weight
$bold:700;
$regular:400;











