.header{
    background: url('../img/bg-hero.svg');
    margin-top: 6.25rem;
    height: 130vh;
    max-width: 100%;
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat; 
    z-index: -1;
    display: flex;
    position: relative;
    @media (max-width: 768px) {
    height:110vh;
    background-size:contain;
    background-position: center bottom;
    margin-bottom:25px;
        }
    }

.header-contenido{

    width: 40%;
    padding:3em;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 768px) {
    width: 100%;
    padding:3em;
    }
}






